<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
</head>
<body>
    <h1>Add Post</h1>
    <a href="/home">Back</a>
    <form action="/submitpost" method = "post">
        <div class="field">
            <label for="title">Title: </label><br>
            <input type="text" name = "title">
        </div>
        <div class="field">
            <label for="message">Blog Post</label><br>
            <textarea name="message" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="field">
            <label for="picurl">Picture URL</label><br>
            <input type="text" name="picurl">
        </div>
        <input type="hidden" name = "time" value="{{ time }}">
        <input type="submit" value = "Submit Post">
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h3>{{ message }}</h3>
        {% endfor %}
      {% endif %}
    {% endwith %}
</body>
</html>