<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}</title>
</head>
<body>
    <h1>{{ username }}</h1>
    {% for post in posts %}

        {% if posts|length >= 1 and post != "no posts!" %}
            <h3>{{ post.title }}</h3>
            <img src="{{ post.picURL }}" width="200px" alt="No Picture">
            <p>
                {{ post.message }}
            </p>
        {% else %}
            <h3>{{ post }}</h3>
        {% endif %}
        <hr>
    {% endfor %}
</body>
</html>